.about__text-block {
    padding-top: 0;
}

.about__text-list {
    display: flex;
    gap: 15%;
}

.about__video-block {
    margin: 60px 0;
}

.about__contact-text-block {
    padding-top: 0;
}

.about__contact-us {
    margin: 200px 0 0 0;
}

@media (max-width: 810px) {
    .about__contact-us {
        margin: 50px 0 0 0;
    }
    .about__text-list {
        display: block;
    }
}