.work-projects__block {
    padding: 50px 100px;
}

.work-projects__item {
    margin: 0 0 60px 0;
}


@media (max-width: 1200px) and (min-width: 810px) {
    .work-projects__block {
        padding: 50px;
    }
}

@media (max-width: 810px) {
    .work-projects__block {
        padding: 50px 25px;
    }
}